.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

@media screen and (max-width: 1279px) {
  .header__square-pic {
    height: 468px;
    width: 468px;
  }
}