.page {
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 100%;
  }
}