.feynman__link {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 2;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-style: normal;
  color: #2f80ed;
}